.welcome-card {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem 4rem 3rem 4rem;

  background-color: rgba( 0, 0, 0, 0.69 );
  backdrop-filter: blur(10px);
  border-radius: 32px;
  border: 2px solid white;
  
  color: white;
}

.welcome-card ol {
  text-align: left;
  margin-bottom: 4rem;
}

.play-button {
  padding: 1rem 4rem;
  background: linear-gradient( 45deg, #e7c449 0%, #e4d198 69%, #f9cd2d 100%);
  border-radius: 32px;
  border: none;

  font-weight: bold;
  font-size: 2rem;
  color: black;

  cursor: pointer;
}

.welcome-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logo1 {
  width: 250px;
  height: auto;
  margin-right: .25rem;
  margin-bottom: 1rem;
  z-index: 1;
}

.logo2 {
  width: 200px;
  height: auto;
  z-index: 0;
}

.header-welcome {
  font-size: 3rem;
  margin-bottom: 1rem;
}
